.visit {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.visit-cta {
  background: rgba(0, 0, 0, 0.72);
  border: none;
  width: 100%;
}

.visit .visit-btn {
  width: 200px !important;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 25px;
  padding: 10px 22px;
  font-size: 14px;
  transition: 0.3s;
}

.visit a:hover {
  cursor: pointer;
}

.questionnaire .button {
  width: 200px !important;
  margin: auto;
  font-size: 20px !important;
}

#team .block img {
  width: 100%;
  height: 500px;
  position: relative;
  object-fit: cover;
}

#team .team-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.notfound {
  padding: 150px;
  text-align: center;
}

@media (max-width: 768px) {
  .questionnaire .button {
    width: 70% !important;
  }

  #team .block img {
    width: 100%;
    height: 300px;
  }

  #team .team-media {
    flex-direction: column;
  }

  #team .team-overlay {
    padding: 10px !important;
  }

  #team .team-overlay .icon {
    display: none !important;
  }

  #team .team-overlay p {
    margin-top: 10px;
  }
}
