{{ define "main" }}

{{- if eq .Params.layout "about" -}}
<div class="col-md-8 text-center">
  <h3 class="mb-3">
    <b>Carbs Demo</b> <br> 
    Association créée par 4 étudiants de l'ITII Normandie, spécialité Efficacité Énergétique en alternance, en partenariat avec l'EICNAM Paris. 
  </h3>
  <h6 class="subtitle font-weight-normal text-justify">
    {{.Content}}
  </h6>
  <button class="btn btn-success btn-md mt-3">En savoir plus</button>
</div>
{{- end -}}

{{- if eq .Params.layout "contact" -}}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      {{ with .Params }}
      <div class="col-lg-5 col-sm-6 mb-5">
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        <ul class="list-unstyled contact-list">
          <li class="mb-3"><a href="mailto:{{ .email }}"><i class="tf-ion-email mr-2"></i>{{ .email }}</a></li>
          <li class="mb-3"><i class="tf-ion-ios-location mr-2"></i>{{ .location }}
          </li>
        </ul>
      </div>
      {{ end }}
  </div>
</section>
{{- end -}}

{{ end }}