<div class="py-5 c2a6">
  <div class="container">
    <!-- row  -->
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="mb-3">{{.Title}}</h3>
        <h6 class="subtitle font-weight-normal text-justify">{{.Content}}</h6>
        <a href="{{.Params.btnlink}}">
          <div class="cta-button btn-md mt-3">{{.Params.btnlabel}}</div>
        </a>
      </div>
      <div class="col-md-12 text-center mt-3">
        <img src="{{.Params.banner}}" alt="banner" class="img-fluid" />
      </div>
    </div>
    <!-- row  -->
  </div>
</div>

<!-- https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/c2a/vectorecity.jpg -->
