<section
  id="play-video"
  style="background-image: url('{{.Params.questionnaire.bg_image}}'); background-size: cover;"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2 class="wow fadeInUp" data-wow-delay=".3s">
            {{.Params.questionnaire.title}}
          </h2>
          <p class="wow fadeInUp" data-wow-delay=".5s">
            {{.Params.questionnaire.description}}
          </p>
          <a
            href="{{.Params.questionnaire.button.link}}"
            target="_blank"
            class="wow zoomIn questionnaire"
            data-width="800"
            data-height="400"
          >
            <div class="button wow zoomIn" data-wow-delay=".3s">
              {{.Params.questionnaire.button.label}}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
