<section id="play-video">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2 class="wow fadeInUp" data-wow-delay=".3s">Notre Questionnaire</h2>
          <p class="wow fadeInUp" data-wow-delay=".5s">
            Pour débuter, je vous laisse répondre à notre mini questionnaire ci
            dessous.
          </p>
          <a
            href=""
            class="html5lightbox wow zoomIn questionnaire"
            data-width="800"
            data-height="400"
          >
            <div class="button wow zoomIn" data-wow-delay=".3s">
              Questionnaire
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
