<header id="navigation" class="navbar-fixed-top animated-header">
  <div class="container">
    <div class="navbar-header">
      <!-- responsive nav button -->
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-collapse"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- /responsive nav button -->

      <!-- logo -->
      <h1 class="navbar-brand">
        <a href="/"
          ><img src="images/logo-inline.png" width="200" height="40" alt="logo"
        /></a>
      </h1>
      <!-- /logo -->
    </div>

    <!-- main nav -->
    <nav class="collapse navbar-collapse navbar-right" role="navigation">
      <ul id="nav" class="nav navbar-nav menu">
        <!-- <li><a href="#top">Accueil</a></li> -->
        <li><a href="#features">À propos</a></li>
        <li><a href="#team">Équipe</a></li>
        <li><a href="#contact-form">Contact</a></li>
      </ul>
    </nav>
    <!-- /main nav -->
  </div>
</header>
