<section id="counter" style="background-image: url('{{.Params.school.bg_image}}');">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2>{{.Params.school.title}}</h2>
        <p>
          {{.Params.school.description}}
        </p>
      </div>
      {{ range .Params.school.filiere}}
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="block wow fadeInRight" data-wow-delay=".3s">
          <i class="{{.icon}}"></i>
          <p class="count-text"><span class="counter-digit">{{.name}}</p>
            <p>{{.info}}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>

<!-- <div class="visit-cta">
  <div class="visit">
    <a href="#" target="_blank" class="visit-btn">En savoir plus</a>
  </div>
</div> -->

