<section id="team">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2>{{.Params.team.title}}</h2>
        <p>{{.Params.team.description}}</p>
      </div>
      <div class="team-media">
        {{ range .Params.team.team_member }}
        <div class="col-md-4 col-sm-10 col-xs-12">
          <div class="block wow fadeInLeft" data-wow-delay=".3s">
            <img src="{{.image | absURL }}" class="team-img" alt="{{.name}}" />
            <div class="team-overlay">
              <h3>{{.name}}<span>{{.designation}}</span></h3>
              <!-- <span class="icon"><i class="ion-quote"></i></span> -->
              <p>{{.content | markdownify}}</p>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</section>
